﻿.not-displayed {
    display: none;
}

form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#zip-code-input {
    font-size: 25px;
}

#get-weather-btn {
    font-size: 25px;
}

#title {
    font-size: 16px;
}

#summary {
    font-size: 35px;
}

#summary img {
    float: right;
}

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}

.ui-bar-inherit.ui-header.header {
    background-color: #3388cc;
    border-color: #3388cc;
    color: #ffffff;
    text-shadow: 0 1px 0 #005599;
}
